@*Displays information about the salon and pictures of the staff*@
@model IEnumerable<GroomingSalonWebsite.Models.About>

@{
    ViewData["Title"] = "About";
}
<body>
    <div id="container">
        <div class="text-center">
            <h1 class="display-4">About us</h1>
        </div>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a risus ligula.
            Vestibulum vehicula fringilla elementum. Proin congue massa non tortor
            facilisis lobortis. Mauris dignissim felis in volutpat consequat. Cras eu
            semper justo, nec viverra arcu. Curabitur lacinia nisi nec ipsum fermentum
            dapibus. Suspendisse eleifend varius ligula id rutrum. Nam euismod lectus
            tortor, sit amet feugiat nibh tincidunt ut. Ut laoreet malesuada nisl, eget
            ultrices urna malesuada vel. Vivamus vel tellus sapien.
        </p>

        <p>
            Praesent eget porttitor nunc, ac commodo ex. Duis ac tellus congue, dapibus
            ex semper, dapibus purus. Vivamus suscipit nisl a mi gravida fringilla.
            Nunc quis purus non nisl tempus bibendum. Donec et pretium ante. Donec nec
            ornare diam, nec ornare lorem. Aenean condimentum neque non neque consequat
            maximus. Nam vel congue sapien. Curabitur et augue mi. Sed et nulla velit.
            Praesent ac eros at erat rutrum sollicitudin suscipit vel eros. Aenean
            volutpat auctor justo, at sagittis magna vestibulum et. Suspendisse mattis
            sodales pulvinar. Proin magna urna, egestas quis ultricies quis, tempor
            id urna.
        </p>

        <p>
            Aliquam dapibus magna quis nulla luctus consectetur. Suspendisse potenti.
            Donec tempor augue nibh, quis scelerisque est finibus rhoncus. Nulla nec
            ligula nec nulla cursus facilisis venenatis at felis. Nam tempus, tortor
            vitae dictum egestas, arcu sapien tincidunt felis, at ultrices sapien est
            ac nibh. Morbi scelerisque eget mi sit amet aliquam. Curabitur porttitor
            tellus porta, sagittis tellus ac, pharetra arcu. Nulla facilisi. Sed
            auctor sagittis mollis. Vivamus blandit neque purus. Curabitur id est et
            augue consequat rutrum. Ut volutpat nisi ipsum, quis porttitor tellus
            placerat eget. Aenean cursus elementum est. Aliquam nec sagittis orci,
            aliquam tempor felis. Duis vitae leo sit amet nisi vulputate molestie.
        </p>

        <h2>Our team</h2>

        <br />

        <!--staff profile images and labels-->
        <div class="row text-center">
            <div class="col-xl-3 col-sm-6 mb-5">
                <div>
                    <img src="/Images/ProfileBBG.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">BBG</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-xl-3 col-sm-6 mb-5">
                <div>
                    <img src="/Images/ProfileMomma.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Momma</h5><span class="small text-uppercase text-muted">Human Resources</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-xl-3 col-sm-6 mb-5">
                <div>
                    <img src="/Images/ProfileWaffles.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Waffles</h5><span class="small text-uppercase text-muted">Quality Assurance</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-xl-3 col-sm-6 mb-5">
                <div>
                    <img src="/Images/ProfilePenny.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Penny</h5><span class="small text-uppercase text-muted">Scheduling</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>


