@model IEnumerable<GroomingSalonWebsite.Models.About>

@{
    ViewData["Title"] = "About";
}

<h1>About us</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a risus ligula. 
    Vestibulum vehicula fringilla elementum. Proin congue massa non tortor 
    facilisis lobortis. Mauris dignissim felis in volutpat consequat. Cras eu 
    semper justo, nec viverra arcu. Curabitur lacinia nisi nec ipsum fermentum 
    dapibus. Suspendisse eleifend varius ligula id rutrum. Nam euismod lectus 
    tortor, sit amet feugiat nibh tincidunt ut. Ut laoreet malesuada nisl, eget 
    ultrices urna malesuada vel. Vivamus vel tellus sapien.</p>

<p>Praesent eget porttitor nunc, ac commodo ex. Duis ac tellus congue, dapibus 
    ex semper, dapibus purus. Vivamus suscipit nisl a mi gravida fringilla. 
    Nunc quis purus non nisl tempus bibendum. Donec et pretium ante. Donec nec 
    ornare diam, nec ornare lorem. Aenean condimentum neque non neque consequat 
    maximus. Nam vel congue sapien. Curabitur et augue mi. Sed et nulla velit. 
    Praesent ac eros at erat rutrum sollicitudin suscipit vel eros. Aenean 
    volutpat auctor justo, at sagittis magna vestibulum et. Suspendisse mattis
    sodales pulvinar. Proin magna urna, egestas quis ultricies quis, tempor 
    id urna.</p>

<p>Aliquam dapibus magna quis nulla luctus consectetur. Suspendisse potenti. 
    Donec tempor augue nibh, quis scelerisque est finibus rhoncus. Nulla nec 
    ligula nec nulla cursus facilisis venenatis at felis. Nam tempus, tortor 
    vitae dictum egestas, arcu sapien tincidunt felis, at ultrices sapien est 
    ac nibh. Morbi scelerisque eget mi sit amet aliquam. Curabitur porttitor 
    tellus porta, sagittis tellus ac, pharetra arcu. Nulla facilisi. Sed 
    auctor sagittis mollis. Vivamus blandit neque purus. Curabitur id est et 
    augue consequat rutrum. Ut volutpat nisi ipsum, quis porttitor tellus 
    placerat eget. Aenean cursus elementum est. Aliquam nec sagittis orci, 
    aliquam tempor felis. Duis vitae leo sit amet nisi vulputate molestie.</p>

<h2>Our team</h2>
<p class="font-italic text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

