@*Displays appointment information upon sucessfull submission of the form on the index.cshtml view*@

@model GroomingSalonWebsite.Models.Appointment

@{
    ViewData["Title"] = "AppointmentConfirmation";
}

<div id="container">
    <div class="text-center">
        <h1 class="display-4">Success! Please review your appointment information.</h1>
        <br />
    </div>

    <div class="text-center">
        <p>This is a placeholder to be replaced with appointment information once the home scheduling form is linked to the database (create)</p>
    </div>
</div>

@*<div>
        <a asp-action="Edit" asp-route-id="@Model.AppointmentId">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>*@
