@model GroomingSalonWebsite.Models.Appointment

@{
    ViewData["Title"] = "AppointmentConfirmation";
}

<h1>AppointmentConfirmation</h1>



@*<div>
        <a asp-action="Edit" asp-route-id="@Model.AppointmentId">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>*@
