@model GroomingSalonWebsite.Models.Account

@{
    ViewData["Title"] = "Register";
}

<div id="container">
    <div class="text-center">
        <h1 class="display-4">Create a New Account</h1>
        
    </div>
    <form asp-action="Register" class="row g-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-md-6">
            <label asp-for="AccountEmail" class="control-label">Email</label>
            <input asp-for="AccountEmail" class="form-control" />
            <div id="errorSpan" class="font-weight-bold">
                <span asp-validation-for="AccountEmail" class="text-danger"></span>
            </div>
            
        </div>
        <div class="col-md-6">
            <label asp-for="AccountPassword" class="control-label">Password</label>
            <input asp-for="AccountPassword" class="form-control" />
            <div id="errorSpan" class="font-weight-bold">
                <span asp-validation-for="AccountPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <label asp-for="AccountName" class="control-label">UserName</label>
            <input asp-for="AccountName" class="form-control" />
            <div id="errorSpan" class="font-weight-bold">
                <span asp-validation-for="AccountName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <label asp-for="AccountPhoneNumber" class="control-label">Phone Number</label>
            <input asp-for="AccountPhoneNumber" class="form-control" />
            <div id="errorSpan" class="font-weight-bold">
                <span asp-validation-for="AccountPhoneNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <label asp-for="AccountFirstName" class="control-label">First Name</label>
            <input asp-for="AccountFirstName" class="form-control" />
            <div id="errorSpan" class="font-weight-bold">
                <span asp-validation-for="AccountFirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <label asp-for="AccountLastName" class="control-label">Last Name</label>
            <input asp-for="AccountLastName" class="form-control" />
            <div id="errorSpan" class="font-weight-bold">
                <span asp-validation-for="AccountLastName" class="text-danger"></span>
            </div>
        </div>
        <div class="align-content-lg-stretch">
            <div class="col">
                <h6>Select:</h6>
                <button type="submit" class="btn btn-info">Create Account</button>
                <button type="reset" class="btn btn-danger">Clear</button>
            </div>
        </div>        
    </form>
    <p>Already have an account? <a asp-action="Login">Log In</a></p>
</div>