@model GroomingSalonWebsite.Models.Appointment

@{
    ViewData["Title"] = "Reschedule";
}

<h1>Reschedule</h1>

<h4>Appointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Reschedule">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ApptDate" class="control-label"></label>
                <input asp-for="ApptDate" class="form-control" />
                <span asp-validation-for="ApptDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApptPhoneNumber" class="control-label"></label>
                <input asp-for="ApptPhoneNumber" class="form-control" />
                <span asp-validation-for="ApptPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApptFirstName" class="control-label"></label>
                <input asp-for="ApptFirstName" class="form-control" />
                <span asp-validation-for="ApptFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApptLastName" class="control-label"></label>
                <input asp-for="ApptLastName" class="form-control" />
                <span asp-validation-for="ApptLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApptPetName" class="control-label"></label>
                <input asp-for="ApptPetName" class="form-control" />
                <span asp-validation-for="ApptPetName" class="text-danger"></span>
            </div>

            <div class="align-content-lg-stretch">

            <div class="col">
                <h6>Select:</h6>
                <button type="submit" class="btn btn-info">Reschedule</button>
                <button type="button" class="btn btn-secondary">Update</button>
                <button type="button" class="btn btn-danger">Cancel</button>
            </div>
    </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

